.custom-newsletter {
  display: grid;
  gap: 2.4rem;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .custom-newsletter--with-image {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

.custom-newsletter__heading {
  margin: 0 0 1.2rem;
}

.custom-newsletter__text {
  margin-bottom: 2rem;
}

.custom-newsletter__field {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 750px) {
  .custom-newsletter__field {
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}

.custom-newsletter__consent {
  margin: 1.2rem 0 0;
  font-size: 1.2rem;
  opacity: 0.7;
}
