.custom-faq__header {
  margin-bottom: 2.4rem;
}

.custom-faq__heading {
  margin: 0;
}

.custom-faq__list {
  max-width: 80rem;
  margin: 0 auto;
}

.custom-faq__item + .custom-faq__item {
  margin-top: 1rem;
}
